<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Jean Bon Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8"/>
        <link rel="stylesheet" href="/dashboard/css/style.css">
        <link rel="stylesheet" href="/dashboard/css/side-panel.css">
        <link rel="stylesheet" href="/dashboard/css/dashboard.css">
        <link rel="stylesheet" href="/dashboard/css/overview.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="/dashboard/js/dashboard.js"></script>
    </head>

    <body>
        <%- include('side-panel') %> 

        <div class="dashboard">

            <h1>Vue d'ensemble</h1>

            <div class="cards">
                <% if (guild_db.pollChannel != "disabled") { %> 

                <div href="" class="card">
                    <div class="title">
                        <h2>Derniers sondages</h2>
                    </div>

                    <div class="body">

                        <% 
                        for (var i = polls_db.length-1; i >= Math.max(polls_db.length-3, 0); i--) { 
                            const poll = polls_db[i];
                            const responses = poll.poll.responses;
                            var totalVotes = 0;
                            var higher = 0;
                            var tie = false;
                            for (var j = 0; j < responses.length; j++)
                            {
                                totalVotes = totalVotes + responses[j].votes
                                if (responses[j].votes >= higher ) {tie = true}
                                if (responses[j].votes > higher ) {higher = responses[j].votes; tie = false}
                            }
                            var result = {};
                            if (responses[0].votes == undefined) {result.text = "✖ Résultats inconnus"; result.class = "error"}
                            else if (!tie && higher > 0) {result.text = "✔ " + responses.find(response => response.votes == higher).response; result.class = "winner"} 
                            else {result.text = "~ Indéterminé"; result.class = "undefined"}
                        %>
                        <a href="<%= url + "/polls/" + poll.messageId %>" class="poll">
                            <p class="Q"><%= poll.poll.message %></p>
                            <p class=<%- '"A ' + result.class + '"' %> ><%= result.text %></p>
                        </a>
                        <% } %>

                        <a class="link" href="<%= url + "/polls" %>">Accéder aux sondages</a>

                    </div>

                </div>

                <% } %> 
            </div>
            
        </div>
        
    </body>

</html>